<!DOCTYPE html>
<html lang="en">
<head>
   {{>headlink}}
</head>
<body>
   {{>navbar}}
    <!-- main  header-->
    <div class="container main_header">
        <div class="row">
            <div class="col-md-10 col-12">
                <div class="row">
                    <!-- main  header Right-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="https://i.pinimg.com/564x/f9/05/db/f905db36b01382ef1269a3d854596d1e.jpg" class="img-fluid">
                        </figure>
                    </div>
                    <!-- main  header Left-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Hi Asad here</p>
                        <h1>i am a web developer <span class="text_clr">&</span> UI/UX designer</h1>
                        <a href="/weather"><button>Check Now</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- footer-->
   {{>footer}}
</body>
</html>